body, html {
  height: 100%;
}

body.login-page {

  background: $color-blue;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42566f+0,2b496d+100 */
  background: #42566f; /* Old browsers */
  background: -moz-linear-gradient(top, #42566f 0%, #2b496d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #42566f 0%,#2b496d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #42566f 0%,#2b496d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42566f', endColorstr='#2b496d',GradientType=0 ); /* IE6-9 */

  nav {
    display: none;
  }


  .login-form {
    padding: 100px 0;

    font-size:15px;

    form {
      background: #fff;
      max-width: 420px;
      width: 100%;
      display: block;
      margin: 0 auto;
      padding: 16px;

      .form-group {
        margin: 0 0 8px 0;

        .control-label {
          width: 100%;
          display: block;
          text-align: left;
          padding: 0;
        }
      }
      .form-control {
        padding:5px 12px;
      }
    }

  }

  .login-actions {
    color: $color-text-secondary;
    margin: 16px 0;
    p {
      margin: 0;
    }
  }

}