
body, html {
  height: 100%;
}

body.reset-page {

  background: $color-blue;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42566f+0,2b496d+100 */
  background: #42566f; /* Old browsers */
  background: -moz-linear-gradient(top, #42566f 0%, #2b496d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #42566f 0%,#2b496d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #42566f 0%,#2b496d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42566f', endColorstr='#2b496d',GradientType=0 ); /* IE6-9 */

  nav {
    display: none;
  }

  .panel-default {
  	margin:100px auto;
  	width:80%;
  	.email-label {
  		line-height:normal;
  		text-align:left;
  		width:100%;
  	}
  	.reset-label {
  		line-height:normal;
  		text-align:left;
  		width:100%;
  	}
  	.input-reset {
  		width:100%;
  	}
  	.panel-heading {
  		border: none;
  	}
  	.input-reset-email {
  		width:100%;
  		float:none;
  	}
  	.reset-btn {
  		float:none;
  	}
  	.btn-col {
  		text-align: center;
  		margin-top: 20px;
  	}
  }




}
