
.personal-data-short {
  background: $color-divider;
  min-height: 100%;
  width: 20%;
  float: left;
  padding: 20px 0 20px 20px;
  text-align: center;
  h3 {
    color: $color-blue;
  }
  img {
    width: 100%;
  } 
  .profile-img {
    max-width: 180px;
  }
  .qrcode {
    max-width: 100px;
  }
  ul {
    text-align: left;
    list-style: none;
    padding: 0;
    li {
      a {
        display: block;
        padding: 4px;
      }
    }
  }
}
